name: Lint Text

on:
  push:
    paths:
      - "docs/**/*.md"
      - ".textlintrc.json"
      - "prh.yml"
      - "package.json"
      - "pnpm-lock.yaml"
  workflow_dispatch:

jobs:
  textlint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Run textlint
        run: pnpm exec textlint "docs/**/*.md"